node_modules
*.log*
.nuxt
.nitro
.cache
.idea
modules.xml
.output
.env
dist
/package-lock.json
/yarn.lock
locals/.DS_Store
assets/.DS_Store
.DS_Store
realme/.idea/Jobspace.xml
realme/package-lock.json
/pnpm-lock.yaml
/node-jiti/chunks-dep-3007b26d.js.7a156017.js
/node-jiti/chunks-dep-ace95160.js.12f88a38.js
/node-jiti/node-constants.js.79057504.js
/node-jiti/node-index.js.907baa39.js
/node-jiti/realmeweb-nuxt.config.ts.39db7eb6.js
/node-jiti/
.idea/
