$font_20: 20px;
$font_64: 64px;

$max_width: 1920px;
$main_color: #EC028C;
$bg_main: linear-gradient(90deg, #EC028C 0%, #FC6568 100%);
$shadow: 0px 0px 12px rgba(0, 0, 0, .12);

$text_color: #2F3941;

